.sidebar{
    /* flex-grow: 1; */
    padding-left: 8px;
    overflow-y: scroll;
    position: relative;
}



.collapse {animation-timing-function: linear;}

@keyframes mymove {
  to {flex: 0;}
}


   /* width */
::-webkit-scrollbar {
    width: 0px;
    background: #ffffff00;
    border-radius: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00; 
    border-radius: 50px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.096); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }