
  .sidebarmobile{
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  
  

  @media only screen and (max-width: 900px){
    .sidebarmobile{
      z-index: 2;
      transition: all 0.5s;
      background: rgba(0, 0, 0, 0.397);
      opacity: 100%;
      visibility: visible;
    }
  }
  @media only screen and (min-width: 900px){
    .sidebarmobile{
      z-index: 2;
      background: rgba(0, 0, 0, 0);
      transition: all 0.5s;
      opacity: 0%;
      visibility: hidden;
    }
  }
  


  .mobilecontent{
    display: flex;
  }
  .sidebarcont{
    background: #fff;
    padding: 0 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left:0;
    transition: margin 1s;
  }
  .collapse{
    background: #fff;
    padding: 0 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left:-250px;
    transition: margin 1s;
  }
  .logomobile{
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .logomobile img{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
  }
  .sideitems{
    margin-top: 2px;
    flex: 1;
    overflow: scroll;
  }
 
  .emptyspace{
    flex: 1;
  }
 