.group p {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    margin-left: 18px;
   }
   
   .sideitem{
    padding: 12px;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 15px;
    padding-left: 22px;
    padding-right: 3px;
    transition: background 0.5s;
   }
   .active{
    background: #EDE7F6;
    border-radius: 12px;
    padding: 12px;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 15px;
    padding-left: 22px;
    padding-right: 3px;
    transition: background 0.5s;
   }
   a{
    text-decoration: none;
   }
   .active a {
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: #5E35B2;
    font-family: "Poppins-SemiBold";
    transition: color 0.5s;
   }

   a {
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: rgba(102, 102, 102, 0.877);
    font-family: 'Poppins-Medium';
   }
   img{
    width:15px;
    display: flex;
    align-items: center;
   }

   .active img{
    width:15px;
    display: flex;
    align-items: center;
   }
  
   .border{
    margin-top: 12px;
    margin-bottom: 16px;
    text-align: center;
    width: 85%;
    margin-left: 0;
    padding: 2px;
    margin-left: 15px;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.068);
   }
  
  