@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./asset/font/Poppins-Light.ttf')
}
@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./asset/font/Poppins-Medium.ttf')
}
@font-face {
  font-family: 'Poppins-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./asset/font/Poppins-SemiBold.ttf')
}
@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./asset/font/Poppins-Bold.ttf')
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentHeading{
  font-family: 'Poppins-SemiBold';
}




  /* width */
  ::-webkit-scrollbar {
    width: 0px;
    background: #ffffff00;
    border-radius: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00; 
    border-radius: 50px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.096); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }




  /* animation  */
  @keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}